<div class="d-flex justify-content-between align-items-center">
    <h2>Criação de Curso</h2>
    <h4><a href= "/majors"><i class="bi bi-arrow-left-square"></i> </a></h4>
</div>
<form action "/majors/{{#if major}}update/{{major.id}}{{else}}/create{{/if}}" method="post">
    <div class="mb-3">
        <label for="code" class="form-label">Codigo do curso</label>
        <input 
            value="{{major.code}}"
            name="code"
            type="text" 
            class="form-control" 
            id="code" 
            placeholder="IE08"
        >
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Nome do curso</label>
        <input value="{{major.name}}" name="name" type="text" class="form-control" id="name" placeholder="Ciência da Computação">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descricao</label>
        <textarea name="description"class="form-control" id="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Criar Curso</button>
</form>