table {
    width: 48%; 
    border-collapse: collapse;
    margin: 0;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 10px 20px; 
    white-space: nowrap;  
    text-align: center;  
    width: 100%; 
}

th, td {
    padding: 4px;
    text-align: center;
    border: 1px solid black;
    font-size: 12px;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #fff;
}
